<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        
</head>

<body class="p-3 mb-2 bg-light text-dark">
    <!--navigation bar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">TODO LIST</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
                <form class="d-flex " action="/search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-dark" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!--text-->
    <figure class="text-center my-4">
        <blockquote class="blockquote">
            <p>TODO List developed using Flask and bootstramp</p>
        </blockquote>
    Welcome to the To-Do List App!<br> This simple yet powerful application is designed to help you organize your daily
    tasks effortlessly.<br> With features to create, update, and delete tasks, managing your schedule has never been easier.<br>

    MY goal is to provide a user-friendly tool to enhance productivity and ensure you stay on top of your priorities.<br>
    Whether it’s personal goals or work assignments,<br> this app is your perfect companion for staying organized.
    <figcaption class="blockquote-footer my-4">
        developed by <cite title="Source Title">Piyush shukla</cite>
    </figcaption>
    </figure>
</body>

</html>